@use '../../../variables/colors' as c
@use '../../../variables/fonts' as f

.global-container
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  width: 100%

.pentagon-image
  width: 100%
  height: 100%

.selection-menu-container
  position: relative

.item-container
  top: 0px
  left: 0px
  position: absolute
  top: 0
  left: 0

.item-container:hover
  transform: scale(1.1)
  cursor: pointer

.choices-container
  display: flex
  justify-content: space-between

.choice-item-container
  flex: 1 1 auto
  display: flex
  flex-direction: column
  align-items: center

.veredict-container
  display: flex
  flex-direction: column
  padding-left: 20px
  padding-right: 20px
  padding-top: 70px

.result-text
  font-size: f.$extralarge-font
  text-align: center
  font-weight: bold

.replay-btn
  background-color: c.$regular-white-color
  padding: 20px
  border: none
  border-radius: 10px
  color: c.$verydark-blue-color
  margin-top: 20px
  cursor: pointer
  font-weight: bold

.results-container
  width: 100%

.choice-label
  margin-top: 20px
  margin-bottom: 20px
  font-weight: bold

.visible-for-large-screen
  display: none
.visible-for-small-screen
  display: flex

@media (min-width: 450px)
  .choice-item-container
    flex-direction: column-reverse

  .choice-label
    margin-bottom: 40px

  .visible-for-large-screen
    display: flex

  .visible-for-small-screen
    display: none
