@use '../../variables/colors' as c
@use '../../variables/fonts' as f

.rules-btn
  border: solid 2px c.$regular-white-color
  padding-right: 30px
  padding-left: 30px
  padding-top: 10px
  padding-bottom: 10px
  margin-top: 50px
  margin-bottom: 50px
  border-radius: 5px
  font-size: f.$medium-font
  background-color: transparent
  color: c.$regular-white-color
  cursor: pointer

.app-container
  display: flex
  justify-content: center
  width: 100vw
  height: 100vh
  overflow: hidden
  margin: 0
  padding: 0

.selector-container
  margin-top: 50px
  flex-grow: 1

.rules-btn-container
  display: flex
  justify-content: center
  align-items: center

.global-container
  padding-right: 25px
  padding-left: 25px
  padding-top: 25px
  display: flex
  height: 100vh
  width: 100vw
  max-width: 800px
  flex-direction: column
  box-sizing: border-box

.score-bar
  height: 60px
  border: 1px solid c.$regular-white-color
  border-radius: 5px
  padding: 10px
  display: flex
  justify-content: space-between

.logo-image
  height: 100%

.score-container
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  background-color: c.$regular-white-color
  border-radius: 10px
  padding: 10px
  padding-right: 20px
  padding-left: 20px

.score-label
  display: block
  color: c.$regular-blue-color
  text-align: center
  font-size: f.$small-font

.score-number
  font-size: f.$verylarge-font
  color: c.$verydark-blue-color

.rules-global-container
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: #00000078

.rules-container
  background-color: c.$regular-white-color
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  position: relative

.rules-header
  color: c.$verydark-blue-color
  font-size: f.$verylarge-font
  margin-top: 50px

.rules-image-container
  flex-grow: 1
  display: flex
  justify-content: center
  align-items: center

.rules-image
  width: 90%

.close-btn
  border: none
  background: none
  width: 40px
  height: 30px
  display: flex
  margin-bottom: 50px
  cursor: pointer

.close-icon
  width: 100%
  height: 100%

@media (min-width: 450px)
  .rules-container
    width: 300px
    height: 500px
    border-radius: 20px
  .close-btn
    position: absolute
    top: 20px
    right: 20px
  .rules-btn
    position: absolute
    bottom: 30px
    right: 30px
    margin-bottom: 0px
